# Ignoring files that dont have any extension
*
!/**/
!*.*

# Ignore binaries
bin/

# Ignore old datafiles
output_old/
output3

# Ignore mac related file
how-to-mpi.txt

# Tex-files
*.aux
*.log
*.out
*.gz
*.fls
*.fdb_latexmk

# Datafiles
*.dat

# OS junk
.DS_Store